<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recibido</title>
</head>
<body>
    <div id="toolbarCont">
        <div>
            <h1>SAFEJOUNEY</h1>
        </div>
        <div id="navegador">
            <ul>
            <li><a href="/dashboard">Enviar</a></li>
            <li><a href="/recibido">Recibido</a></li>
            <li><a href="#">Acerca de</a></li>
            </ul>
        </div>
    </div>
    
</body>
</html>