<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="login.component.css">
</head>
<body background="http://images.unsplash.com/photo-1469980098053-382eb10ba017?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80device-width">
    <div id="toolbarCont">
        <div>
            <h1>SAFEJOUNEY</h1>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div id="containerALl">
        <div id="container"  class="p-3 mb-2 bg-light text-dark">
            <br>
            
            <img src="https://images.unsplash.com/photo-1573655724204-86bfdf03f3fc?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=701&q=80   " style = "width: 100px;"  alt="" class="rounded-circle">
            <br>
            <br>
        
                <div class="form-group">
                    <label for="email1">Correo</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required name = "user">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Contraseña</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required name = "password">
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Recuerdame</label>
                </div>
                    <br>
                    <br>
                    <button type="submit" class="btn btn-dark">Iniciar Sesion
                    </button>
                    <br>
                    <br>
            
                
                
                    <div class = "alert alert-warning" role="alert">
                       
                    </div>
            
                    <span>
                    </span>
        </div>  
    </div>
</body>
</html>
<router-outlet></router-outlet>