<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="dashboard.component.css">
</head>
<body>
    <div id="toolbarCont">
        <div>
            <h1>SAFEJOUNEY</h1>
        </div>
        <div id="navegador">
            <ul>
            <li><a href="#">Enviar</a></li>
            <li><a href="/recibido">Recibido</a></li>
            <li><a href="#">Acerca de</a></li>
            </ul>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div id="containerSpace">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Upload</span>
            </div>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile01">
              <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
            </div>
          </div>
    </div>
    
</body>
</html>
<router-outlet></router-outlet>